# Ignore environment folders
/env/
/venv/
/.env/
.conda/

# Ignore data files
/data/

# Ignore results files
/results/

# Ignore Mac specific files
.DS_Store

# Ignore backup folders
Figure4_splicing_analysis_backup/

# Ignore IDE settings
.vscode/
