
[submodule "Figure3_Ribosome_Proteomics_Analysis"]
	path = Ribosome_Proteomics_Analysis
	url = https://github.com/Papareddy/Figure3_Ribosome_Proteomics.git
[submodule "Figure4_Splicing_Analysis"]
	path = Splicing_Analysis
	url = https://github.com/Papareddy/Figure4_splicing_analysis.git
